<div class="modal fade" id="view-lawyer" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form>
                <div class="panel-heading main-color-bg">
                    <h3 class="panel-title">Lawyer Profile</h3>
                  </div>
                <div class="modal-body">
                    <div class="form-group">
                        <div class="form-group">
                            <label>Fullname</label>
                        <input type="text" class="form-control" placeholder="Fullname" value="<%= fullname %>">
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input type="text" class="form-control" placeholder="Fullname" value="<%= lawyer.email %>">
                        </div>
                        
                        <div class="form-group">
                            <label>Guest List</label>
                            <input type="text" class="form-control" placeholder="Lawyer" value="<%= guests %>">
                        </div>

                        <div class="form-group" id="created_at">
                            <label>Joined</label>
                            <input readonly type="text" class="form-control" placeholder="Created At" value="<%= new Date(joined).toDateString() %>">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>