<!DOCTYPE html>
<html lang="en">

<head>
    <title>Đổi Mật Khẩu | Dashboard</title>

    <%- include('partials/head.ejs'); -%>

</head>

<body>

    <!-- Navbar -->
    <%- include('partials/nav.ejs'); -%>

    <!-- Breadscrumb -->
    <%- include('partials/breadcrumb.ejs', { site_name: 'Đổi Mật Khẩu Admin' , edit_flag: false }); -%>

    <section id="main">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <!-- Username -->
                    <div hidden class="form-group">
                        <label>Username Admin</label>
                        <input id="username" type="text" class="form-control" placeholder="Username" value="">
                    </div>
                    <!-- Mật Khẩu Cũ -->
                    <div class="form-group">
                        <label>Mật Khẩu Cũ</label>
                        <input id="old-password" type="password" class="form-control" placeholder="Mật Khẩu Cũ" value="">
                    </div>
                    <!-- Mật Khẩu Mới -->
                    <div class="form-group">
                        <label>Mật Khẩu Cũ</label>
                        <input id="new-password" type="password" class="form-control" placeholder="Mật Khẩu Mới" value="">
                    </div>
                    <!-- Mật Khẩu Xác Nhận -->
                    <div class="form-group">
                        <label>Nhập Lại Mật Khẩu</label>
                        <input id="confirm-password" type="password" class="form-control" placeholder="Mật Khẩu Xác Nhận" value="">
                    </div>
                </div>
                <div class="col-sm-12">
                    <div id="admin-detail" class="tab-pane fade in active">
                        <div hidden class="alert alert-info" role="alert" id="alert-div"></div>
                        <form id="admin-password" action="" method="POST">
                            <div class="form-group">
                                <button id="chgPw-btn" type="text" class="btn btn-md btn-primary">Cập nhật</button>
                                <button id="cancel-btn" type="button" class="btn btn-md btn-warning">Hủy</button>
                                <button id="return-btn" type="button" class="btn btn-md btn-danger">Trở về</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <%- include('partials/footer.ejs'); -%>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js" type="text/javascript"></script>
    <script src="/js/user.js"></script>
    <script src="/admin/js/admin-changepw.js"></script>
</body>
</html>