<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Trang chủ | My Lawyer</title>

    <%- include('partials/head.ejs'); -%>
    <link rel="stylesheet" href="/client/assets/css/home.css" />
  </head>

  <body>
    <!-- ======= Header ======= -->
    <%- include('partials/header.ejs'); -%>
    <!-- End Header -->

    <main id="home">
      <section id="home-banner" class="home-banner">
        <div class="container">
          <div class="banner">
            <img class="" src="/client/assets/img/bg.jpeg" />

            <div class="banner-content">
              <div class="container">
                <!-- <div class="banner-subtitle mb-2">My Lawyer</div> -->
                <div class="banner-title mb-2">
                  Cung cấp dịch vụ Luật sư phù hợp nhất cho yêu cầu của bạn
                </div>
                <div class="banner-description mb-2">
                  My Lawyer cung cấp giải pháp hạn chế rủi ro trong các quan hệ
                  xã hội được pháp luật điều chỉnh theo Pháp luật Việt Nam.
                  Chúng tôi sinh ra để chia sẽ với bạn những lúc bạn gặp phải
                  những quyết định khó khăn nhất. Chúng tôi sinh ra để phục vụ
                  bạn, góp phần phá vỡ và thu hẹp khoảng cách giữa khách hàng và
                  Luật sư Thông qua hoạt động kết nối trực tuyến.
                </div>
                <button><a href="/about">Tìm hiểu</a></button>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section id="what-we-do" class="what-we-do">
        <div class="container d-flex flex-column align-items-center">
          <div class="section-title">
            <h2>My Lawyer</h2>
            <h4>
              My lawyer sinh ra đã là của bạn - cho bạn và vì bạn. My Lawyer
              cung cấp cho bạn giải pháp giải quyết công việc và đánh giá rủi ro
              pháp lý... bằng một đội ngũ Luật sư dày dặn kinh nghiệm và chuyên
              môn cao giúp khách hàng giải quyết tất cả yêu cầu. My Lawyer mang
              đến cho khách hàng niềm tin vững chắc khi sử dụng dịch vụ.
            </h4>
          </div>

          <div class="row gx-2">
            <div class="col-12 col-lg-4">
              <div class="icon-box">
                <div class="icon">
                  <img class="" src="/client/assets/img/about/1.png" />
                </div>
                <h4><a href="">Lawyer</a></h4>
                <p>
                  Tập hợp các Luật sư uy tín, chuyên môn giỏi, giàu kinh nghiệm
                  và am hiểu kiến thức xã hội. My lawyer cung cấp dịch vụ Luật
                  sư và dịch vụ tư vấn trực tiếp, trực tuyến trên phạm vi toàn
                  lãnh thổ Việt Nam.
                </p>
                <a href="" class="btn btn-small btn-warning mt-2 mt-lg-3"
                  >Xem thêm</a
                >
              </div>
            </div>
            <div class="col-12 col-lg-4">
              <div class="icon-box">
                <div class="icon">
                  <img class="" src="/client/assets/img/about/2.png" />
                </div>
                <h4><a href="">Về chúng tôi</a></h4>
                <p>
                  My Lawyer là sản phẩm Thương mại điện tử của Công ty Cp Đầu Tư
                  Luật Việt. My Lawyer từng bước trở thành một trong những giải
                  pháp trực tuyến không thể thiếu của các bạn trong tất cả các
                  giao dịch.
                </p>
                <a href="/about" class="btn btn-small btn-warning mt-2 mt-lg-3"
                  >Xem thêm</a
                >
              </div>
            </div>

            <div class="col-12 col-lg-4">
              <div class="icon-box">
                <div class="icon">
                  <img class="" src="/client/assets/img/about/3.png" />
                </div>
                <h4><a href="">Bạn nghĩ gì về chúng tôi</a></h4>
                <p>
                  My Lawyer hay còn gọi là "Luât sư của Tôi" ngay cái tên gọi
                  sản phẩm cũng đã nói lên ý nghĩa ra đời của ML. sứ mệnh ML
                  sinh ra để chia sẽ và phục vụ khách hàng. Cho nên, ML luôn ghi
                  nhận ý kiến đóng góp của khách hàng để hoàn thiện chất lượng
                  dịch vụ ngày càng tốt hơn, thân thiện hơn.
                </p>
                <a href="" class="btn btn-small btn-warning mt-2 mt-lg-3"
                  >Xem thêm</a
                >
              </div>
            </div>
          </div>
        </div>
      </section>

      <section id="services" class="services">
        <div class="container d-flex flex-column align-items-center">
          <div class="section-title">
            <h2>Sản phẩm dịch vụ</h2>
            <h4>
              My Lawyer cung cấp giải pháp dịch vụ Luật sư cho quý khach hàng
              trên toàn quốc
            </h4>
          </div>

          <div class="owl-carousel gallery-carousel">
            <div class="service-item">
              <div class="post-img">
                <img src="/client/assets/img/index/1.png" alt="" />
                <span class="title justify-content-center">
                  <a href="/domain-info/6"> Giao thông </a>
                </span>
              </div>
            </div>

            <div class="service-item">
              <div class="post-img">
                <img src="/client/assets/img/index/2.png" alt="" />
                <span class="title justify-content-center">
                  <a href="/domain-info/4"> Đất đai </a>
                </span>
              </div>
            </div>

            <div class="service-item">
              <div class="post-img">
                <img src="/client/assets/img/index/3.png" alt="" />
                <span class="title justify-content-center">
                  <a href="/domain-info/1"> Dân sự </a>
                </span>
              </div>
            </div>

            <div class="service-item">
              <div class="post-img">
                <img src="/client/assets/img/index/4.png" alt="" />
                <span class="title justify-content-center">
                  <a href="/domain-info/2"> Hình sự </a>
                </span>
              </div>
            </div>

            <div class="service-item">
              <div class="post-img">
                <img src="/client/assets/img/index/5.png" alt="" />
                <span class="title justify-content-center">
                  <a href="/domain-info/5"> Hôn nhân - Gia đình </a>
                </span>
              </div>
            </div>

            <div class="service-item">
              <div class="post-img">
                <img src="/client/assets/img/index/6.png" alt="" />
                <span class="title justify-content-center">
                  <a href="/domain-info/3"> Kinh doanh thương mại </a>
                </span>
              </div>
            </div>

            <div class="service-item">
              <div class="post-img">
                <img src="/client/assets/img/index/7.png" alt="" />
                <span class="title justify-content-center">
                  <a href="/domain-info/7"> Thừa kế </a>
                </span>
              </div>
            </div>

            <div class="service-item">
              <div class="post-img">
                <img src="/client/assets/img/index/8.png" alt="" />
                <span class="title justify-content-center">
                  <a h ref="/domain-info/10"> Hành chính </a>
                </span>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section id="news" class="news">
        <div class="container d-flex flex-column align-items-center">
          <div class="section-title">
            <h2>Tin tức</h2>
            <h4>
              My Lawyer hỗ trợ thực hiện toàn bộ quy trình trong thủ tục tố tụng
              cho đến khi đạt được kết quả tối ưu nhất cho khách hàng.
            </h4>
          </div>
          <div class="row">
            <div class="col-12 col-lg-4 my-3 my-lg-0">
              <div class="post lawyer">
                <img
                  class="post-image"
                  src="/client/assets/img/home-news/home-news-1.png"
                />

                <div class="post-category">Tin tức Luật sư</div>
                <div class="post-content">
                  <h4 class="post-content-title">
                    Tất tần tật tin tức về luật
                  </h4>
                  <p class="post-content-description">
                    Thông tin nhanh, mới nhất và được cập nhật liên tục về các
                    sự kiện thời sự, chính sách pháp luật về nhiều lĩnh vực quan
                    trọng như: nhà đất, tài chính, thuế, ...
                  </p>
                  <a class="post-content-link"
                    ><div class="line"></div>
                    <div class="more">Xem thêm</div>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-4 my-3 my-lg-0">
              <div class="post company">
                <img
                  class="post-image"
                  src="/client/assets/img/home-news/home-news-2.png"
                />

                <div class="post-category">Công ty My Lawyer</div>
                <div class="post-content">
                  <h4 class="post-content-title">
                    Cập nhập thông tin với nhất về công ty My Lawyer
                  </h4>
                  <p class="post-content-description">
                    Sứ mệnh của chúng tôi là trở thành một công ty luật sư phục
                    vụ cho người Việt Nam. Phục vụ tốt nhất những khách hàng
                    trong thị trường mà công ty có được
                  </p>
                  <a class="post-content-link"
                    ><div class="line"></div>
                    <div class="more">Xem thêm</div>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-4 my-3 my-lg-0">
              <div class="post doc">
                <img
                  class="post-image"
                  src="/client/assets/img/home-news/home-news-3.png"
                />

                <div class="post-category">Biểu mẫu</div>
                <div class="post-content">
                  <h4 class="post-content-title">
                    Danh sách biểu mẫu mới nhất 2021
                  </h4>
                  <p class="post-content-description">
                    Hệ thống văn bản quy phạm pháp luật hiện hành được quy định
                    tại Luật Ban hành văn bản quy phạm pháp luật 2015
                  </p>
                  <a class="post-content-link"
                    ><div class="line"></div>
                    <div class="more">Xem thêm</div>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <a
            href=""
            class="
              btn btn-small btn-warning
              mt-2 mt-lg-3
              button-more-news
              text-white
              shadow
            "
            >Xem thêm
          </a>
        </div>
      </section>
    </main>

    <!-- ======= Footer ======= -->
    <%- include('partials/footer.ejs'); -%>
    <!-- End Footer -->

    <!-- Vendor JS Files -->

    <script
      type="text/javascript"
      src="/client/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"
    ></script>
    <script
      type="text/javascript"
      src="/client/assets/vendor/jquery.easing/jquery.easing.min.js"
    ></script>
    <script
      type="text/javascript"
      src="/client/assets/vendor/php-email-form/validate.js"
    ></script>
    <script
      type="text/javascript"
      src="/client/assets/vendor/waypoints/jquery.waypoints.min.js"
    ></script>
    <script
      type="text/javascript"
      src="/client/assets/vendor/counterup/counterup.min.js"
    ></script>
    <script
      type="text/javascript"
      src="/client/assets/vendor/isotope-layout/isotope.pkgd.min.js"
    ></script>
    <script
      type="text/javascript"
      src="/client/assets/vendor/venobox/venobox.min.js"
    ></script>
    <script
      type="text/javascript"
      src="/client/assets/vendor/owl.carousel/owl.carousel.min.js"
    ></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/granim/2.0.0/granim.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>

    <!-- Template Main JS File -->
    <script type="text/javascript" src="/client/assets/js/main.js"></script>
    <script type="text/javascript" src="/client/assets/js/header.js"></script>
    <script type="text/javascript" src="/client/assets/js/banner.js"></script>
    <script type="text/javascript" src="/client/assets/js/carousel.js"></script>
  </body>
</html>
