<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Tin tức | My Lawyer</title>

    <%- include('partials/head.ejs'); -%>
    <link rel="stylesheet" href="/client/assets/css/news-page.css" />
  </head>

  <body>
    <!-- ======= Header ======= -->
    <%- include('partials/header.ejs'); -%>
    <!-- End Header -->

    <!-- ======= Hero Section ======= -->

    <section
      id="hero"
      class="d-flex flex-column justify-content-center align-items-center"
    >
      <div class="container text-center" data-aos="fade-up">
        <h1><span>Tin tức My Lawyer</span></h1>
        <h2>
          We are team of talanted designers making websites with Bootstrap
        </h2>
      </div>
    </section>

    <!-- End Hero -->

    <main id="news-page">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-3 order-md-2">
            <div class="news-categories">
              <div class="title-header">
                <h2>Danh mục</h2>
              </div>
              <ul class="list-category">
                <li class="active"><a href=""> Tất cả tin túc</a></li>
                <li><a href=""> Tin tức Luật Sư</a></li>
                <li><a href=""> Công ty MyLawyer</a></li>
                <li><a href=""> Biểu mẫu</a></li>
              </ul>
            </div>
            <div class="news-featured">
              <div class="title-header">
                <h2>Tin tức nổi bật</h2>
              </div>
              <ul class="list-featured">
                <li class="featured">
                  <div class="row gx-md-2">
                    <div class="col-6 col-md-4">
                      <a href="">
                        <img
                          src="http://nerubian.nanothemes.co/wp-content/uploads/2017/07/news26-124x100.jpg"
                          class="featured-img"
                          alt=""
                        />
                      </a>
                    </div>
                    <div class="col-6 col-md-8">
                      <div class="featured-title">
                        <a href="">
                          North Carolina Republicans Are In Trouble Again For
                          Racial Gerrymandering</a
                        >
                      </div>
                    </div>
                  </div>
                </li>
                <li class="featured">
                  <div class="row gx-md-2">
                    <div class="col-6 col-md-4">
                      <a href="">
                        <img
                          src="http://nerubian.nanothemes.co/wp-content/uploads/2017/07/news26-124x100.jpg"
                          class="featured-img"
                          alt=""
                        />
                      </a>
                    </div>
                    <div class="col-6 col-md-8">
                      <div class="featured-title">
                        <a href="">
                          North Carolina Republicans Are In Trouble Again For
                          Racial Gerrymandering</a
                        >
                      </div>
                    </div>
                  </div>
                </li>
                <li class="featured">
                  <div class="row gx-md-2">
                    <div class="col-6 col-md-4">
                      <a href="">
                        <img
                          src="http://nerubian.nanothemes.co/wp-content/uploads/2017/07/news26-124x100.jpg"
                          class="featured-img"
                          alt=""
                        />
                      </a>
                    </div>
                    <div class="col-6 col-md-8">
                      <div class="featured-title">
                        <a href="">
                          North Carolina Republicans Are In Trouble Again For
                          Racial Gerrymandering</a
                        >
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-12 col-md-9 order-md-1">
            <div class="news-lastest">
              <div class="title-header">
                <h2>Tin tức</h2>
              </div>
              <ul class="list-news">
                <li class="news">
                  <div class="row">
                    <div class="col-4">
                      <a href="">
                        <img
                          src="http://nerubian.nanothemes.co/wp-content/uploads/2017/10/news23-292x190.jpg"
                          class="news-img"
                          alt=""
                        />
                      </a>
                    </div>
                    <div class="col-8">
                      <div class="news-category d-none d-md-inline-block">
                        Entertainment & Arts
                      </div>
                      <div class="news-title">
                        <a href="">
                          North Carolina Republicans Are In Trouble Again For
                          Racial Gerrymandering
                        </a>
                      </div>
                      <div class="news-time d-none d-md-inline-block">
                        <i class="fal fa-clock"></i>October 27, 2017
                      </div>
                      <div class="news-description">
                        Many desktop publishing packages and web page editors
                        now use Lorem Ipsum as their default model text, and a
                        search for 'lorem ipsum' will uncover many web sites
                        still in their infancy. Various versions have evolved
                        over the years, sometimes by accident, sometimes on
                        purpose (injected humour and the like).Many desktop
                        publishing packages and web page editors now use Lorem
                        Ipsum as their default model text, and a search for
                        'lorem ipsum' will uncover many web sites still in their
                        infancy. Various versions have evolved over the years,
                        sometimes by accident, sometimes on purpose (injected
                        humour and the like).
                      </div>
                    </div>
                  </div>
                </li>
                <li class="news">
                  <div class="row">
                    <div class="col-4">
                      <a href="">
                        <img
                          src="http://nerubian.nanothemes.co/wp-content/uploads/2017/07/news15-510x290.jpg"
                          class="news-img"
                          alt=""
                        />
                      </a>
                    </div>
                    <div class="col-8">
                      <div class="news-category d-none d-md-inline-block">
                        World
                      </div>
                      <div class="news-title">
                        <a href="">
                          Las Vegas Residents Line Up For Hours To Donate Blood
                          To Shooting Victims
                        </a>
                      </div>
                      <div class="news-time d-none d-md-inline-block">
                        <i class="fal fa-clock"></i>October 27, 2017
                      </div>
                      <div class="news-description">
                        Cras tempor, ante sit amet ultricies aliquam, lorem
                        purus pretium turpis, at ultricies velit tortor sed
                        nunc. Etiam porta malesuada turpis, at volutpat lorem
                        tincidunt sit amet. Quisque interdum
                      </div>
                    </div>
                  </div>
                </li>
                <li class="news">
                  <div class="row">
                    <div class="col-4">
                      <a href="">
                        <img
                          src="http://nerubian.nanothemes.co/wp-content/uploads/2017/07/news25-510x290.jpg"
                          class="news-img"
                          alt=""
                        />
                      </a>
                    </div>
                    <div class="col-8">
                      <div class="news-category d-none d-md-inline-block">
                        Politics
                      </div>
                      <div class="news-title">
                        <a href="">
                          Several business people in political debate during
                          press conference focus
                        </a>
                      </div>
                      <div class="news-time d-none d-md-inline-block">
                        <i class="fal fa-clock"></i>October 27, 2017
                      </div>
                      <div class="news-description">
                        Many desktop publishing packages and web page editors
                        now use Lorem Ipsum as their default model text, and a
                        search for 'lorem ipsum' will uncover many web sites
                        still in their infancy. Various versions have evolved
                        over the years, sometimes by accident, sometimes on
                        purpose (injected humour and the like).Many desktop
                        publishing packages and web page editors now use Lorem
                        Ipsum as their default model text, and a search for
                        'lorem ipsum' will uncover many web sites still in their
                        infancy. Various versions have evolved over the years,
                        sometimes by accident, sometimes on purpose (injected
                        humour and the like).
                      </div>
                    </div>
                  </div>
                </li>
                <span id="loadMore" class="button list-news-more">
                  Load More
                </span>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    <%- include('partials/footer.ejs'); -%>
    <!-- End Footer -->

    <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>
  </body>
</html>
