<!-- ======= Footer ======= -->
<footer id="footer">
  <div class="footer-top">
    <div class="container py-4">
      <div class="row align-items-center">
        <div class="my-2 my-md-0 col-lg-2 col-md-6 text-center">
          <div class="logo">
            <a href="/"
              ><img
                src="/client/assets/img/logo_transparent.png"
                alt=""
                class="img-fluid"
            /></a>
          </div>
        </div>
        <div class="my-2 my-md-0 col-lg-2 col-md-6 text-center">
          <a href="/about">Về Chúng Tôi</a>
        </div>
        <div class="my-2 my-md-0 col-lg-2 col-md-6 text-center">
          <a href="#">Điều Khoản Sử Dụng</a>
        </div>
        <div class="my-2 my-md-0 col-lg-2 col-md-6 text-center">
          <a href="#">Chính Sách Bảo Mật</a>
        </div>
        <div class="my-2 my-md-0 col-lg-2 col-md-6 text-center">
          <a href="#">Về Luật Sư</a>
        </div>
        <div class="my-2 my-md-0 col-lg-2 col-md-6 text-center">
          <a href="#">Ý Kiến Khách Hàng</a>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-6 footer-contact">
          <h5>Công ty CP Đầu Tư Luật Việt</h5>
          <p>
            <strong>Trụ Sở</strong>:
            <a href="https://g.page/dinhvietlaw?share"
              >Số 25 đường 2/9, phường Hòa Cường Nam, quận Hải Châu, thành phố Đà Nẵng<br
            /></a>
            <strong> Mã Số Doanh Nghiệp : 0402046195 </strong> <br />
            <strong> Đại Diện Pháp Luật : Lê Võ Thanh Hùng </strong> <br />
            <strong>Email:</strong>
            <a href="mailto:79luatsucuatoi@gmail.com"
              >79luatsucuatoi@gmail.com <br
            /></a>
          </p>
        </div>

        <div class="col-md-6 footer-links">
          <div class="social-links text-center text-md-right pt-3 pt-md-0">
            <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
            <a href="#" class="google-plus"><i class="bx bxl-youtube"></i></a>
            <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
          </div>
          <div class="text-center text-md-right pt-3 pt-md-0 mt-3">
            <p class="mb-1"><strong>Dịch vụ trung gian thanh toán</strong></p>
            <p>Do công ty Cổ Phần Di Động Trực Tuyến ( Ví MoMo). MSDN: 0305289153</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- End Footer -->

<!-- Icon Call + Fb -->

<div class="hotline-phone-ring-wrap">
  <div class="hotline-phone-ring">
    <div class="hotline-phone-ring-circle"></div>
    <div class="hotline-phone-ring-circle-fill"></div>
    <div class="hotline-phone-ring-img-circle">
      <a href="tel:0905550511" class="pps-btn-img">
        <img
          src="/client/assets/img/contact-footer/phone-icon.png"
          alt="so dien thoai"
          width="50"
        />
      </a>
    </div>
  </div>
  <div class="float-icon-hotline">
    <ul class="left-icon hotline">
      <li class="hotline_float_icon">
        <a target="_blank" rel="nofollow" id="messengerButton" href="fb.com"
          ><i class="fa fa-messenger animated infinite tada"></i
          ><span>Facebook</span></a
        >
      </li>
    </ul>
  </div>
</div>
<!-- Icon Call + Fb -->

<!-- Modal HTML -->
<div id="myModal" class="modal fade">
  <div class="row">
    <div class="modal-dialog modal-login">
      <div class="modal-content">
        <div class="modal-header">
          <div class="avatar">
            <img src="/client/assets/img/icon.png" alt="Logo" />
          </div>
          <h4 class="modal-title">Đăng nhập</h4>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-hidden="true"
          >
            &times;
          </button>
        </div>
        <div class="modal-body">
          <div id="login_message"></div>
          <form id="loginForm" action="/login" method="post">
            <div class="form-group">
              <input
                id="login_username"
                type="text"
                class="form-control"
                name="UserName"
                placeholder="Tên đăng nhập hoặc Email"
              />
            </div>
            <div class="form-group">
              <input
                id="login_password"
                type="password"
                class="form-control"
                name="PasswordHash"
                placeholder="Mật khẩu"
              />
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-lg-6 col-sm-12">
                  <input type="checkbox" value="lsRememberMe" id="rememberMe" />
                  <label for="rememberMe">Ghi nhớ</label>
                </div>
                <div class="col-lg-6 col-sm-12 text-lg-right">
                  <a
                    href="/forgot-password"
                    data-dismiss="modal"
                    data-toggle="modal"
                    data-target="#myModal1"
                    >Quên mật khẩu?</a
                  >
                </div>
              </div>
            </div>
            <div class="form-group">
              <button
                type="submit"
                class="btn btn-primary btn-lg btn-block login-btn"
              >
                Đăng nhập
              </button>
            </div>
            <!--
              <div class="form-group">
                <div class="row">
                  <div class="col-lg-6 col-sm-12">
                    <button type="button" class="btn btn-danger btn-lg btn-block login-btn"> <i class="fa fa-google fa-lg" aria-hidden="true"></i> Google</button>
                  </div>   
                  <div class="col-lg-6 col-sm-12">
                    <button type="button" class="btn btn-danger btn-lg btn-block login-btn"> <i class="fa fa-facebook fa-lg" aria-hidden="true"></i> Facebook</button>
                  </div>            
                </div>            
              </div>
            -->
          </form>
        </div>
        <div class="modal-footer">
          Chưa có tài khoản?
          <a
            href="/register"
            data-dismiss="modal"
            data-toggle="modal"
            data-target="#myModal2"
            >Đăng ký</a
          >
        </div>
      </div>
    </div>
  </div>
</div>

<div id="myModal1" class="modal fade">
  <div class="row">
    <div class="modal-dialog modal-login">
      <div class="modal-content">
        <div class="modal-header">
          <div class="avatar">
            <img src="/client/assets/img/icon.png" alt="Logo" />
          </div>
          <h4 class="modal-title">Quên mật khẩu</h4>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-hidden="true"
          >
            &times;
          </button>
        </div>
        <div class="modal-body">
          <div id="f_message"></div>
          <form id="loginForm" action="/login" method="post">
            <div class="form-group">
              <input
                id="f_email"
                type="text"
                class="form-control"
                name="UserName"
                placeholder="Vui lòng nhập địa chỉ email"
              />
            </div>
            <div class="form-group">
              <button
                type="submit"
                class="btn btn-primary btn-lg btn-block login-btn"
              >
                Xác nhận
              </button>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          Chưa có tài khoản?
          <a
            href="/register"
            data-dismiss="modal"
            data-toggle="modal"
            data-target="#myModal2"
            >Đăng ký</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal HTML -->
<div id="myModal2" class="modal fade">
  <div class="row">
    <div class="modal-dialog modal-login">
      <div class="modal-content">
        <div class="modal-header">
          <div class="avatar">
            <img src="/client/assets/img/icon.png" alt="Logo" />
          </div>
          <h4 class="modal-title">Đăng ký khách hàng</h4>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-hidden="true"
          >
            &times;
          </button>
        </div>
        <div class="modal-body">
          <div id="r_message"></div>

          <form id="registerForm" action="/register" method="post">
            <div class="form-group">
              <div class="row">
                <div class="col-lg-6 col-sm-12">
                  <input
                    id="r_firstname"
                    type="text"
                    class="form-control"
                    name="FirstName"
                    placeholder="Tên"
                  />
                </div>
                <div class="col-lg-6 col-sm-12">
                  <input
                    id="r_lastname"
                    type="text"
                    class="form-control"
                    name="LastName"
                    placeholder="Họ và tên đệm"
                  />
                </div>
              </div>
            </div>

            <div class="form-group">
              <input
                id="r_email"
                type="text"
                class="form-control"
                name="Email"
                placeholder="Địa chỉ email"
                required="required"
                oninvalid="this.setCustomValidity('Vui lòng nhập email')"
                oninput="setCustomValidity('')"
              />
            </div>
            <div class="form-group">
              <input
                id="r_username"
                type="text"
                class="form-control"
                name="UserName"
                placeholder="Tên đăng nhập"
                required="required"
                oninvalid="this.setCustomValidity('Vui lòng nhập mật khẩu')"
                oninput="setCustomValidity('')"
              />
            </div>
            <div class="form-group">
              <input
                id="r_password"
                type="password"
                class="form-control"
                name="PasswordHash"
                placeholder="Mật khẩu"
                required="required"
                oninvalid="this.setCustomValidity('Vui lòng nhập mật khẩu')"
                oninput="setCustomValidity('')"
              />
            </div>
            <div class="form-group">
              <input
                type="password"
                class="form-control"
                name="PasswordConfirm"
                placeholder="Nhập lại mật khẩu"
                required="required"
                required="required"
                oninvalid="this.setCustomValidity('Vui lòng nhập lại mật khẩu')"
                oninput="setCustomValidity('')"
              />
            </div>
            <div class="form-group">
              <input
                type="checkbox"
                value="lsRememberMe"
                id="RememberMe"
                required="required"
                required="required"
                oninvalid="this.setCustomValidity('Vui lòng đọc và xác nhận các điều khoản')"
                oninput="setCustomValidity('')"
              />
              <label for="rememberMe"
                >Tôi đồng ý với các điều khoản của Website</label
              >
            </div>
            <!--
              <div class="form-group">
                <div class="row">
                  <div class="col-lg-6">
                    <input type="checkbox" value="lsRememberMe" id="rememberMe"> <label for="rememberMe">Ghi nhớ</label>
                  </div>
                  <div class="col-lg-6 text-lg-right">              
                    <a href="#">Quên mật khẩu?</a>
                  </div>
                </div>
              </div> 
              -->
            <div class="form-group">
              <button
                type="submit"
                class="btn btn-primary btn-lg btn-block login-btn"
              >
                Đăng ký
              </button>
            </div>
            <!--
              <div class="form-group">
                <div class="row">
                  <div class="col-lg-6 col-sm-12">
                    <button type="button" class="btn btn-danger btn-lg btn-block"> <i class="fa fa-google fa-lg" aria-hidden="true"></i> Google</button>
                  </div>   
                  <div class="col-lg-6 col-sm-12">
                    <button type="button" class="btn btn-danger btn-lg btn-block"> <i class="fa fa-facebook fa-lg" aria-hidden="true"></i> Facebook</button>
                  </div>            
                </div>            
              </div>
            -->
          </form>
        </div>
        <div class="modal-footer">
          Đã có tài khoản?
          <a
            href="#"
            data-dismiss="modal"
            data-toggle="modal"
            data-target="#myModal"
            >Đăng nhập</a
          >
        </div>
      </div>
    </div>
  </div>
</div>

<a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script
  type="text/javascript"
  src="/client/assets/vendor/jquery/jquery.min.js"
></script>

<script>
  window.onload = checkCookie;

  function logIn(postData) {
    $.ajax({
      url: "/login",
      type: "POST",
      contentType: "application/json",
      crossDomain: true,
      data: JSON.stringify(postData),
      dataType: "json",
      xhrFields: {
        withCredentials: true,
      },
      success: function (response) {
        //data: return data from server
        // alert("The server says: " + response.accessToken);
        if (response.success == 1) {
          document.cookie = `token=${response.accessToken};path=/;SameSite=Lax`;
          document.cookie = `refreshtoken=${response.refreshToken};path=/;SameSite=Lax`;
          document.cookie = `username=${response.username};path=/;SameSite=Lax`;
          document.cookie = `userID=${response.userID};path=/;SameSite=Lax`;
          document.cookie = `email=${response.email};path=/;SameSite=Lax`;
          document.cookie = `role=${response.role};path=/;SameSite=Lax`;
          window.location.href = "/";
        } else {
          login_message.textContent = "Tên người dùng hoặc mật khẩu không đúng";
          login_message.style.display = "block";
          login_message.style.color = "red";
          login_message.classList = "text-center mb-2";
        }
      },
      error: function (response) {
        console.log(response);
        login_message.textContent = "Tên người dùng hoặc mật khẩu không đúng";
        login_message.style.display = "block";
        login_message.style.color = "red";
        login_message.classList = "text-center mb-2";
        //if fails
        //alert('it didnt work');
      },
    });
  }

  function logOut() {
    //alert("Call logout");
    var refreshtoken = getCookie("refreshtoken");

    console.log(refreshtoken);

    if (refreshtoken) {
      //formURL = ' + refreshtoken;

      const postData = {
        refreshtoken: refreshtoken,
      };

      console.log(postData);

      // /console.log(formURL);
      $.ajax({
        url: "/logout",
        type: "POST",
        contentType: "application/json",
        crossDomain: true,
        data: JSON.stringify(postData),
        dataType: "json",
        xhrFields: {
          withCredentials: true,
        },
        success: function (response) {
          console.log("Sucessful");
          console.log(response.redirected);
          //data: return data from server
          //alert("The server says: " + response);
          //document.cookie = "username=; expires=Thu, 01 Jan 1970 00:00:00 UTC";
          var expdate = new Date();
          expdate.setDate(expdate.getDate() - 1);
          document.cookie =
            "token=" + ";expires=" + expdate.toUTCString() + ";"; //grishmat is jwt token
          document.cookie =
            "refreshtoken=" + ";expires=" + expdate.toUTCString() + ";";
          document.cookie =
            "mylawyer=" + ";expires=" + expdate.toUTCString() + ";";
          document.cookie =
            "username=" + ";expires=" + expdate.toUTCString() + ";";
          document.cookie =
            "userID=" + ";expires=" + expdate.toUTCString() + ";";
          document.cookie =
            "email=" + ";expires=" + expdate.toUTCString() + ";";
          document.cookie = "role=" + ";expires=" + expdate.toUTCString() + ";";
          //checkCookie();
          window.location.reload();
        },
        error: function (response) {
          console.log("Unsucessful");
          console.log(response);
          //if fails
          //alert('it didnt work');
        },
      });

      /*
          document.cookie = "token=; expires=Thu, 01 Jan 1970 00:00:00 UTC";
          document.cookie = "refreshtoken=; expires=Thu, 01 Jan 1970 00:00:00 UTC";
          document.cookie = "mylawyer=; expires=Thu, 01 Jan 1970 00:00:00 UTC";
          document.cookie = "username=; expires=Thu, 01 Jan 1970 00:00:00 UTC";
          */
      //alert(document.cookie);
      //window.location.replace("/admin/login");
    }
  }

  function getCookie(cname) {
    var name = cname + "=";
    var decodedCookie = decodeURIComponent(document.cookie);
    var ca = decodedCookie.split(";");
    for (var i = 0; i < ca.length; i++) {
      var c = ca[i];
      while (c.charAt(0) == " ") {
        c = c.substring(1);
      }
      if (c.indexOf(name) == 0) {
        return c.substring(name.length, c.length);
      }
    }
    return "";
  }

  function checkCookie() {
    console.log("Checking cookie...");
    console.log(document.cookie);
    const userMenu1 = document.querySelector("#UserMenu1");
    const userMenu2 = document.querySelector("#UserMenu2");

    if (!getCookie("mylawyer")) {
      var expdate = new Date();
      expdate.setDate(expdate.getDate() - 1);
      document.cookie = "token=" + ";expires=" + expdate.toUTCString() + ";"; //grishmat is jwt token
      document.cookie =
        "refreshtoken=" + ";expires=" + expdate.toUTCString() + ";";
      document.cookie = "username=" + ";expires=" + expdate.toUTCString() + ";";
      document.cookie = "userID=" + ";expires=" + expdate.toUTCString() + ";";
      document.cookie = "email=" + ";expires=" + expdate.toUTCString() + ";";
      document.cookie = "role=" + ";expires=" + expdate.toUTCString() + ";";
      userMenu1.innerHTML =
        '<a href="#" data-dismiss="modal" data-toggle="modal" data-target="#myModal2">Đăng ký</a>';
      userMenu2.innerHTML =
        '<a href="#" data-dismiss="modal" data-toggle="modal" data-target="#myModal">Đăng nhập</a>';
    } else {
      var username = getCookie("username");
      var userID = getCookie("userID");
      var email = getCookie("email");
      var role = getCookie("role");
      console.log(username + "&" + userID);

      if (username && userID) {
        let url = "/user/dashboard?UserID=" + userID;
        userMenu1.innerHTML = "<a href=" + url + "> Chào " + username + "</a>";
        userMenu2.innerHTML =
          '<a id="logout_btn" href="#" onClick="logOut()" > Đăng xuất </a>';
      } else {
        userMenu1.innerHTML =
          '<a href="#" data-dismiss="modal" data-toggle="modal" data-target="#myModal2">Đăng ký</a>';
        userMenu2.innerHTML =
          '<a href="#" data-dismiss="modal" data-toggle="modal" data-target="#myModal">Đăng nhập</a>';
      }
    }
  }

  /*
    $(document).ready(function() {
        console.log("Checking cookie in here...");
        checkCookie();
    });
    */
</script>

<script>
  // Attach a submit handler to the form
  // Attach a submit handler to the form
  /*
      $.fn.serializeObject = function() {
          var o = {};
          var a = this.serializeArray();
          $.each(a, function() {
              if (o[this.name]) {
                  if (!o[this.name].push) {
                      o[this.name] = [o[this.name]];
                  }
                  o[this.name].push(this.value || '');
              } else {
                  o[this.name] = this.value || '';
              }
          });
          return o;
      };
    */
  const username_input = document.querySelector("#login_username");
  const password_input = document.querySelector("#login_password");
  const login_message = document.querySelector("#login_message");

  $("#loginForm").submit(function (event) {
    event.preventDefault(); //STOP default action

    console.log(username_input.value);
    console.log(password_input.value);

    if (username_input.value === "" || password_input.value === "") {
      login_message.textContent = "Vui lòng nhập đầy đủ thông tin";
      login_message.style.display = "block";
      login_message.style.color = "red";
      login_message.classList = "text-center mb-2";

      return;
    }

    const postData = {
      UserName: username_input.value,
      PasswordHash: password_input.value,
    };

    console.log(JSON.stringify(postData));

    var formURL = $(this).attr("action");

    $.ajax({
      url: formURL,
      type: "POST",
      contentType: "application/json",
      crossDomain: true,
      data: JSON.stringify(postData),
      dataType: "json",
      xhrFields: {
        withCredentials: true,
      },
      success: function (response) {
        //data: return data from server
        // alert("The server says: " + response.accessToken);
        if (response.success == 1) {
          document.cookie = `token=${response.accessToken};path=/;SameSite=Lax`;
          document.cookie = `refreshtoken=${response.refreshToken};path=/;SameSite=Lax`;
          document.cookie = `username=${response.username};path=/;SameSite=Lax`;
          document.cookie = `userID=${response.userID};path=/;SameSite=Lax`;
          document.cookie = `email=${response.email};path=/;SameSite=Lax`;
          document.cookie = `role=${response.role};path=/;SameSite=Lax`;
          login_message.textContent = "Đăng nhập thành công";
          login_message.style.color = "green";
          login_message.classList = "text-center mb-2";
          window.location.reload();
        } else {
          login_message.textContent = "Tên người dùng hoặc mật khẩu không đúng";
          login_message.style.display = "block";
          login_message.style.color = "red";
          login_message.classList = "text-center mb-2";
        }
      },
      error: function (response) {
        console.log(response);
        login_message.textContent = "Tên người dùng hoặc mật khẩu không đúng";
        login_message.style.display = "block";
        login_message.style.color = "red";
        login_message.classList = "text-center mb-2";
        //if fails
        //alert('it didnt work');
      },
    });
  });
</script>

<script>
  // Attach a submit handler to the form
  // Attach a submit handler to the form
  /*
      $.fn.serializeObject = function() {
          var o = {};
          var a = this.serializeArray();
          $.each(a, function() {
              if (o[this.name]) {
                  if (!o[this.name].push) {
                      o[this.name] = [o[this.name]];
                  }
                  o[this.name].push(this.value || '');
              } else {
                  o[this.name] = this.value || '';
              }
          });
          return o;
      };
    */
  const r_firstname_input = document.querySelector("#r_firstname");
  const r_lastname_input = document.querySelector("#r_lastname");
  const r_username_input = document.querySelector("#r_username");
  const r_password_input = document.querySelector("#r_password");
  const r_email_input = document.querySelector("#r_email");
  const r_message = document.querySelector("#r_message");

  $("#registerForm").submit(function (event) {
    event.preventDefault(); //STOP default action

    if (
      r_username_input.value === "" ||
      r_username_input.value === "" ||
      r_email_input.value === ""
    ) {
      r_message.textContent = "Vui lòng nhập các thông tin bắt buộc";
      r_message.style.display = "block";
      r_message.style.color = "red";
      r_message.classList = "text-center mb-2";

      return;
    }

    const postData = {
      FirstName: r_firstname_input.value,
      LastName: r_lastname_input.value,
      UserName: r_username_input.value,
      PasswordHash: r_password_input.value,
      Email: r_email_input.value,
      Role: "Client",
    };

    console.log(JSON.stringify(postData));

    var formURL = $(this).attr("action");

    $.ajax({
      url: formURL,
      type: "POST",
      contentType: "application/json",
      crossDomain: true,
      data: JSON.stringify(postData),
      success: function (response) {
        if (response.success) {
          //data: return data from server
          r_message.textContent = "Đăng ký thành công";
          r_message.style.color = "green";
          r_message.classList = "text-center mb-2";
          logIn(postData);
        } else {
          r_message.textContent = "Có lỗi xảy ra trong quá trình đăng ký";
          r_message.style.display = "block";
          r_message.style.color = "red";
          r_message.classList = "text-center mb-2";
        }
      },
      error: function (response) {
        //if fails
        console.log(response);
        r_message.textContent = "Có lỗi xảy ra trong quá trình đăng ký";
        r_message.style.display = "block";
        r_message.style.color = "red";
        r_message.classList = "text-center mb-2";
      },
    });
  });
</script>
<!--
  <script type="text/javascript" src="/client/assets/js/login.js"></script>
  -->
