<div class="input-group mb-3" id="bulk-action">
    <div class="input-group-prepend">
        <div class="col-lg-3">
            <!-- <button class="btn btn-secondary btn-xs" type="button">Apply</button> -->
            <input type="button" class="btn btn-primary btn-xs" value="Apply">
        </div>
        <div class="col-md-6">
            <select class="btn btn-default">
                <option selected disabled value="">Bulk Action</option>
                <option value="deactivate">Deactivate</option>
                <option value="delete">Delete</option>
            </select>
        </div>
    </div>
</div>