<div class="position-static">
    <footer id="footer">
        <p>Copyright MYLAWYER, &copy; 2020</p>
    </footer>
</div>

<script>
    function logOut(){

      //alert("Call logout");
      var refreshtoken = getCookie("refreshtoken");

      console.log(refreshtoken);

      if (refreshtoken){

        //formURL = ' + refreshtoken;

        const postData = {
          refreshtoken: refreshtoken
        }

        console.log(postData);

        // /console.log(formURL);
        $.ajax(
          {
              url : '/admin/logout',
              type: "POST",
              contentType: 'application/json',
              crossDomain: true,
              data : JSON.stringify(postData),
              dataType: 'json',
              xhrFields: {
                  withCredentials: true
              },
              success:function(response) 
              {
                console.log("Sucessful");
                console.log(response.redirected);
                  //data: return data from server
                  //alert("The server says: " + response);
                  //document.cookie = "username=; expires=Thu, 01 Jan 1970 00:00:00 UTC";
                var expdate = new Date()
                expdate.setDate(expdate.getDate() - 1);
                document.cookie = "token=" + ";expires=" + expdate.toUTCString() + ";"; //grishmat is jwt token 
                document.cookie = "refreshtoken=" + ";expires=" + expdate.toUTCString() + ";";
                document.cookie = "mylawyer=" + ";expires=" + expdate.toUTCString() + ";"
                document.cookie = "username=" + ";expires=" + expdate.toUTCString() + ";";
                document.cookie = "userID=" + ";expires=" + expdate.toUTCString() + ";"; 
                window.location.replace('/admin');
                
                
              },
              error: function(response) 
              {
                console.log("Unsucessful");
                console.log(response);
                  //if fails   
                  //alert('it didnt work');   
              }
          });
         

          /*
          document.cookie = "token=; expires=Thu, 01 Jan 1970 00:00:00 UTC";
          document.cookie = "refreshtoken=; expires=Thu, 01 Jan 1970 00:00:00 UTC";
          document.cookie = "mylawyer=; expires=Thu, 01 Jan 1970 00:00:00 UTC";
          document.cookie = "username=; expires=Thu, 01 Jan 1970 00:00:00 UTC";
          */
          //alert(document.cookie);
          //window.location.replace("/admin/login");
      }
    }

    function getCookie(cname) {
      var name = cname + "=";
      var decodedCookie = decodeURIComponent(document.cookie);
      var ca = decodedCookie.split(';');
      for(var i = 0; i < ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0) == ' ') {
          c = c.substring(1);
        }
        if (c.indexOf(name) == 0) {
          return c.substring(name.length, c.length);
        }
      }
      return "";
    }

    function checkCookie() {
      var user = getCookie("username");
      const adminMenu1 = document.querySelector("#adminMenu1");
      const adminMenu2 = document.querySelector("#adminMenu2");
      if (user != "") {

        adminMenu1.innerHTML = '<a href="#" > Chào ' + user + '</a>';
        adminMenu2.innerHTML = '<a id="logout_btn" href="#" onClick="logOut()" > Đăng xuất </a>';
      } else {
        //window.location.href = "/admin/login";
      }
    } 
    
    $(document).ready(function() {
      checkCookie();
    });
    
</script>


	<!-- Bootstrap core JavaScript -->
  <script src="http://cdn.ckeditor.com/4.6.2/standard/ckeditor.js"></script>
  <script>
      CKEDITOR.replace( 'editor1' );
      CKEDITOR.replace( 'editor2' );
  </script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="/admin/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vanilla-datatables@latest/dist/vanilla-dataTables.min.js" type="text/javascript"></script>

  
  <script src="/admin/js/add-admin.js"></script>
  <script src="/admin/js/add-lawyer.js"></script>
  <script src="/admin/js/add-guest.js"></script>