<!-- Modals -->
<!-- Add Lawyer -->
<div class="modal fade" id="addCategory" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form id="catr_registerForm" action="/admin/register/addCategory"  class="well"  method="POST">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Thêm Danh mục</h4>
                </div>
                <div class="modal-body">  
                    <div id="catr_message"></div>
                    <p> Các thông tin có dấu <span style="color: red">*</span> là bắt buộc.</p>
            
                    <div class="form-group">
                      <label>Nhập danh mục <span style="color: red">*</span></label>
                      <input id="catr_domain" type="text" name="Domain" class="form-control" placeholder="Nhập danh mục" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                    <button type="submit" class="btn btn-primary">Thêm Danh mục</button>
                </div>
            </form>
        </div>
    </div>
</div>