    <!-- Sidebar -->
    <div class="profile-sidebar">
        <div class="user-widget">
            <div class="pro-avatar">
                <img src="<%# lawyer.Avatar %>" alt="Avatar">
            </div>
            <div class="user-info-cont">
                <h4 class="usr-name"> <%# lawyer.LastName %> <%# lawyer.FirstName %> </h4>
                <p class="mentor-type">Lĩnh vực <%# specialize %></p>
            </div>
        </div>
        <div class="custom-sidebar-nav">
            <ul>
                <li><a href="/admin/admin-dashboard"><i class="fas fa-user"></i>Thông tin cá nhân<span><i class="fas fa-chevron-right"></i></span></a></li>
                <!-- <li><a href="/admin/admin-dashboard"><i class="fas fa-address-book"></i>Thông tin liên lạc<span><i class="fas fa-chevron-right"></i></span></a></li>
                <li><a href="/admin/admin-dashboard"><i class="fas fa-address-card"></i>Thông tin nghề nghiệp<span><i class="fas fa-chevron-right"></i></span></a></li> -->
                <li><a href="/admin/admin-dashboard"><i class="fas fa-image"></i>Ảnh đại diện<span><i class="fas fa-chevron-right"></i></span></a></li>
                <li><a href="/admin/admin-dashboard>"><i class="fas fa-user-cog"></i>Thay đổi mật khẩu<span><i class="fas fa-chevron-right"></i></span></a></li>
                <li><a href="/admin/admin-dashboard" onClick="return false;"><i class="fas fa-sign-out-alt"></i>Đăng xuất <span><i class="fas fa-chevron-right"></i></span></a></li>
            </ul>
        </div>
    </div>
    <!-- /Sidebar -->