<!-- Modals -->
<!-- Add Post -->
<div class="modal fade" id="addPost" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form id="pr_registerForm" action="/admin/posts"  class="well"  method="POST">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Thêm bài viết</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Tiêu đề</label>
                        <input id="pr_title" type="text" class="form-control" placeholder="Nhập tiêu đề bài viết">
                        <div class="form-group">
                            <label>Nội dung</label>
                            <textarea id="pr_content" name="editor2" class="form-control" placeholder="Nhập nội dung bài viết"></textarea>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox">Đăng</label>
                        </div>
                        <div class="form-group">
                            <label>Lĩnh vực</label>
                            <input id="pr_category" type="text" class="form-control" placeholder="Nhập lĩnh vực">
                        </div>
                        <div class="form-group">
                            <label>Hình ảnh</label>
                            <input id="pr_imageurl" type="text" class="form-control" placeholder="Nhập hình ảnh">
                        </div>
                    </div>
                    <div id="pr_message"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                    <button type="submit" class="btn btn-primary">Thêm bài viết</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    
  const pr_title = document.querySelector("#pr_title");
  const pr_content = document.querySelector("#pr_content");
  const pr_category = document.querySelector("#pr_category");
  const pr_imageurl = document.querySelector("#pr_imageurl");
  const pr_message = document.querySelector("#pr_message");


  $("#pr_registerForm").on('submit',function(event) {

    event.preventDefault(); //STOP default action

    if (pr_title.value === "" ){
      pr_message.textContent = "Vui lòng nhập tiêu đề bài viết";
      pr_message.style.display = "block";
      pr_message.style.color = "red";
      pr_message.classList = "text-center mb-2";
      return;
    }
      
   
    const postData = {
      Title: pr_title.value,
      Content: CKEDITOR.instances.pr_content.getData(),
      ImageUrl: pr_imageurl.value
    }

    console.log(JSON.stringify(postData));

    var formURL = $(this).attr("action");

    $.ajax(
    {
        url : formURL,
        type: "POST",
        contentType: 'application/json',
        crossDomain: true,
        data : JSON.stringify(postData),
        success:function(response) 
        {
            if (response.success === 1){
              //data: return data from server
              pr_message.textContent = "Thêm bài viết thành công";
              pr_message.style.color = "green";
              pr_message.classList = "text-center mb-2";
              window.location.reload();
            } else {
              pr_message.textContent = "Có lỗi xảy ra trong quá trình thêm bài viết";
              pr_message.style.display = "block";
              pr_message.style.color = "red";
              pr_message.classList = "text-center mb-2";
            }
        },
        error: function(response) 
        {
            //if fails   
            console.log(response);
            ar_message.textContent = "Có lỗi xảy ra trong quá trình thêm bài viết";
            ar_message.style.display = "block";
            ar_message.style.color = "red";
            ar_message.classList = "text-center mb-2";
        }
    });
  });
</script>