$main-color: #ffc107;
$text-color: #454545;
#lawyer-detail-page {
  margin: 30px auto;
  #about {
    .number-rating {
      font-size: 20px;
      margin-left: 20px;
      font-weight: bold;
      color: $main-color;
    }
    ul {
      list-style: none;
      padding: 0;
    }
    .specialize-list {
      li {
        font-size: 20px;
        text-transform: capitalize;
        i {
          margin-right: 15px;
          color: $main-color;
        }
      }
    }
    .favorite-sentence-list {
      li {
        font-size: 14px;
        display: flex;
        font-style: italic;
        i {
          color: $main-color;
          font-size: 8px;
        }
      }
    }
  }
  #tab {
    nav {
      background-color: #eaeaea;
      .nav-tabs {
        border: none;
        button {
          width: 25%;
          font-weight: bold;
          &.active {
            border-top: 3px solid $main-color;
            border-right: 1px solid $main-color;
            border-left: 1px solid $main-color;
            i,
            span {
              color: $main-color;
            }
          }
        }
      }
    }
    .tab-content {
      padding: 20px;
      border: 1px solid #eaeaea;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      #nav-contact-lawyer {
        .card {
          padding: 15px;
          border-bottom: 5px solid $main-color;
          margin: 20px 0;
          .title {
            font-size: 20px;
            font-weight: 500;
            border-bottom: 2px solid lightgrey;
            padding-bottom: 10px;
            margin-bottom: 10px;
          }
          .content {
            font-weight: bold;
          }
          table {
            td {
              min-width: 130px;
            }
          }
        }
      }
      #nav-booking {
        .time-work {
          padding: 20px;
          border: 2px solid #26c3d2;
        }
        .booking {
          background: $main-color;
          color: white;
          border: none;
          border-radius: 10px;
          padding: 10px 50px;
        }
        .confirm-calendar {
          background: $main-color;
          color: white;
          border: none;
          border-radius: 10px;
          padding: 10px 50px;
          width: 100%;
        }
      }
      #nav-comment {
        .header-total {
          display: flex;
          align-items: center;
          font-size: 20px;
          .title {
            font-weight: bold;
          }
          .number-of-comment {
            color: lightgray;
          }
          .star i {
            color: $main-color;
          }
        }
        .body-total {
          .percent-rating {
            display: flex;
            align-items: center;
            .title {
              min-width: 25px;
              color: lightgray;
            }
            .progress {
              width: 75%;
              &-bar {
                background-color: $main-color;
              }
            }
          }
        }
        .list-comment {
          .comment {
            margin: 20px 0 10px;
            .star i {
              color: $main-color;
            }
            .post-by {
              color: lightgrey;
              span {
                font-weight: bold;
              }
            }
            .post-date {
              color: lightgray;
            }
            .title-comment {
              font-weight: bold;
            }
            @media only screen and (min-width: 768px) {
              .col-md-8 {
                border-left: 2px solid #dee2e6;
              }
            }
          }
        }
      }
    }
  }
}
#modalReview {
  .modal-content {
    .modal-header {
      .modal-title {
        color: $main-color;
        width: 100%;
        text-align: center;
        font-weight: bold;
      }
    }
    .modal-body {
      label.col-form-label {
        font-weight: bold;
      }
      textarea {
        min-height: 200px;
      }
    }
    .modal-footer {
      .button-send-review {
        background-color: $main-color;
      }
    }
  }
}
