<!DOCTYPE html>
<html lang="en">

<head>

  <title>Thông tin Luật Sư | My Lawyer</title>

  <%- include('partials/head.ejs'); -%>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />

  <link rel="stylesheet" href="/client/assets/css/profile.css">


  
</head>

<body>

  <!-- ======= Header ======= -->
  <%- include('partials/header.ejs'); -%>
  <!-- End Header -->

  <!-- ======= Hero Section ======= -->
<!--
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="container text-center" data-aos="fade-up">
      <h1><span>Trang cá nhân</span></h1>
      <h2>We are team of talanted designers making websites with Bootstrap</h2>
    </div>
  </section>
-->
  <!-- End Hero -->

  <main id="main">

    <!--Start code-->
    <section id="lawyerDashboard">
        <div class="container-fluid">

            <div class="row mt-5">
                <div class="col-md-12 col-lg-4 col-xl-3 theiaStickySidebar">
                
                    <!-- Search Filter -->
                    <div class="card search-filter">
                        <div class="card-header">
                            <h4 class="card-title mb-0">Lọc tìm kiếm</h4>
                        </div>
                        <div class="card-body">
                        <div class="filter-widget">
                            <div class="cal-icon">
                                <input type="text" class="form-control datetimepicker" placeholder="Select Date">
                            </div>			
                        </div>
                        <div class="filter-widget">
                            <h4>Giới tính</h4>
                            <div>
                                <label class="custom_check">
                                    <input type="checkbox" name="gender_type" checked>
                                    <span class="checkmark"></span> Nam
                                </label>
                            </div>
                            <div>
                                <label class="custom_check">
                                    <input type="checkbox" name="gender_type">
                                    <span class="checkmark"></span> Nữ
                                </label>
                            </div>
                        </div>
                        <div class="filter-widget">
                            <h4>Lĩnh vực</h4>
                            <div>
                                <label class="custom_check">
                                    <input type="checkbox" name="select_specialist" checked>
                                    <span class="checkmark"></span> Hình sự

                                </label>
                            </div>
                            <div>
                                <label class="custom_check">
                                    <input type="checkbox" name="select_specialist" checked>
                                    <span class="checkmark"></span> Dân sự
                                </label>
                            </div>
                            <div>
                                <label class="custom_check">
                                    <input type="checkbox" name="select_specialist">
                                    <span class="checkmark"></span> Kinh doanh thương mại
                                </label>
                            </div>
                            <div>
                                <label class="custom_check">
                                    <input type="checkbox" name="select_specialist">
                                    <span class="checkmark"></span> Hành chính
                                </label>
                            </div>
                            <div>
                                <label class="custom_check">
                                    <input type="checkbox" name="select_specialist">
                                    <span class="checkmark"></span> Bất động sản
                                </label>
                            </div>
                        </div>
                            <div class="btn-search">
                                <button type="button" class="btn btn-block">Tìm kiếm</button>
                            </div>	
                        </div>
                    </div>
                    <!-- /Search Filter -->
                    
                </div>
                
                <div class="col-md-12 col-lg-8 col-xl-9">

                    <!-- Mentor Widget -->
                    <div class="card">
                        <div class="card-body">
                            <div class="mentor-widget">
                                <div class="user-info-left">
                                    <div class="mentor-img">
                                        <a href="profile.html">
                                            <img src="/client/assets/img/user/user.jpg" class="img-fluid" alt="User Image">
                                        </a>
                                    </div>
                                    <div class="user-info-cont">
                                        <h4 class="usr-name"><a href="/lawyer/dashboard/profile">Nguyen Van A</a></h4>
                                        <p class="mentor-type">Lĩnh vực dân sự</p>
                                        <div class="rating">
                                            <i class="fas fa-star filled"></i>
                                            <i class="fas fa-star filled"></i>
                                            <i class="fas fa-star filled"></i>
                                            <i class="fas fa-star filled"></i>
                                            <i class="fas fa-star"></i>
                                            <span class="d-inline-block average-rating">(17)</span>
                                        </div>
                                        <div class="mentor-details">
                                            <p class="user-location"><i class="fas fa-map-marker-alt"></i> </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="user-info-right">
                                    <div class="user-infos">
                                        <ul>
                                            <li><i class="far fa-comment"></i> 17 Đánh giá</li>
                                            <li><i class="fas fa-map-marker-alt"></i> Hải Châu, Đà Nẵng</li>
                                            <li><i class="far fa-money-bill-alt"></i> $XX - $XX <i class="fas fa-info-circle" data-toggle="tooltip" title="Lorem Ipsum"></i> </li>
                                        </ul>
                                    </div>
                                    <div class="mentor-booking">
                                        <a class="apt-btn" href="booking.html">Đặt lịch hẹn</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Mentor Widget -->

                    <!-- Mentor Widget -->
                    <div class="card">
                        <div class="card-body">
                            <div class="mentor-widget">
                                <div class="user-info-left">
                                    <div class="mentor-img">
                                        <a href="profile.html">
                                            <img src="/client/assets/img/user/user1.jpg" class="img-fluid" alt="User Image">
                                        </a>
                                    </div>
                                    <div class="user-info-cont">
                                        <h4 class="usr-name"><a href="profile.html">Nguyen Thi B</a></h4>
                                        <p class="mentor-type">Lĩnh vực KDTM</p>
                                        <div class="rating">
                                            <i class="fas fa-star filled"></i>
                                            <i class="fas fa-star filled"></i>
                                            <i class="fas fa-star filled"></i>
                                            <i class="fas fa-star filled"></i>
                                            <i class="fas fa-star"></i>
                                            <span class="d-inline-block average-rating">(35)</span>
                                        </div>
                                        <div class="mentor-details">
                                            <p class="user-location"><i class="fas fa-map-marker-alt"></i> Hòa Vang, Đà Nẵng</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="user-info-right">
                                    <div class="user-infos">
                                        <ul>
                                            <li><i class="far fa-comment"></i> 35 Đánh giá</li>
                                            <li><i class="fas fa-map-marker-alt"></i> Hòa Vang, Đà Nẵng</li>
                                            <li><i class="far fa-money-bill-alt"></i> $XX - $XX <i class="fas fa-info-circle" data-toggle="tooltip" title="Lorem Ipsum"></i></li>
                                        </ul>
                                    </div>
                                    <div class="mentor-booking">
                                        <a class="apt-btn" href="booking.html">Đặt lịch hẹn</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Mentor Widget -->

                    <!-- Mentor Widget -->
                    <div class="card">
                        <div class="card-body">
                            <div class="mentor-widget">
                                <div class="user-info-left">
                                    <div class="mentor-img">
                                        <a href="profile.html">
                                            <img src="/client/assets/img/user/user2.jpg" class="img-fluid" alt="User Image">
                                        </a>
                                    </div>
                                    <div class="user-info-cont">
                                        <h4 class="usr-name"><a href="profile.html">Le Van C</a></h4>
                                        <p class="mentor-type">Lĩnh vực bất động sản</p>
                                        <div class="rating">
                                            <i class="fas fa-star filled"></i>
                                            <i class="fas fa-star filled"></i>
                                            <i class="fas fa-star filled"></i>
                                            <i class="fas fa-star filled"></i>
                                            <i class="fas fa-star"></i>
                                            <span class="d-inline-block average-rating">(27)</span>
                                        </div>
                                        <div class="mentor-details">
                                            <p class="user-location"><i class="fas fa-map-marker-alt"></i> Cẩm Lệ, Đà Nẵng</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="user-info-right">
                                    <div class="user-infos">
                                        <ul>
                                            <li><i class="far fa-comment"></i> 35 Đánh giá</li>
                                            <li><i class="fas fa-map-marker-alt"></i> Cẩm Lệ, Đà Nẵng</li>
                                            <li><i class="far fa-money-bill-alt"></i> $XX - $XX <i class="fas fa-info-circle" data-toggle="tooltip" title="Lorem Ipsum"></i></li>
                                        </ul>
                                    </div>
                                    <div class="mentor-booking">
                                        <a class="apt-btn" href="booking.html">Đặt lịch hẹn</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Mentor Widget -->

                    <!-- Mentor Widget -->
                    <div class="card">
                        <div class="card-body">
                            <div class="mentor-widget">
                                <div class="user-info-left">
                                    <div class="mentor-img">
                                        <a href="profile.html">
                                            <img src="/client/assets/img/user/user4.jpg" class="img-fluid" alt="User Image">
                                        </a>
                                    </div>
                                    <div class="user-info-cont">
                                        <h4 class="usr-name"><a href="profile.html">Tran Thi D</a></h4>
                                        <p class="mentor-type">Lĩnh vực dân sự</p>
                                        <div class="rating">
                                            <i class="fas fa-star filled"></i>
                                            <i class="fas fa-star filled"></i>
                                            <i class="fas fa-star filled"></i>
                                            <i class="fas fa-star filled"></i>
                                            <i class="fas fa-star"></i>
                                            <span class="d-inline-block average-rating">(4)</span>
                                        </div>
                                        <div class="mentor-details">
                                            <p class="user-location"><i class="fas fa-map-marker-alt"></i> Quận 1, Đà Nẵng</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="user-info-right">
                                    <div class="user-infos">
                                        <ul>
                                            <li><i class="far fa-comment"></i> 4 Đánh giá</li>
                                            <li><i class="fas fa-map-marker-alt"></i> Quận 1, Đà Nẵng</li>
                                            <li><i class="far fa-money-bill-alt"></i> $XX - $XX <i class="fas fa-info-circle" data-toggle="tooltip" title="Lorem Ipsum"></i></li>
                                        </ul>
                                    </div>
                                    <div class="mentor-booking">
                                        <a class="apt-btn" href="booking.html">Đặt lịch hẹn</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Mentor Widget -->

                    <!-- Mentor Widget -->
                    <div class="card">
                        <div class="card-body">
                            <div class="mentor-widget">
                                <div class="user-info-left">
                                    <div class="mentor-img">
                                        <a href="profile.html">
                                            <img src="/client/assets/img/user/user5.jpg" class="img-fluid" alt="User Image">
                                        </a>
                                    </div>
                                    <div class="user-info-cont">
                                        <h4 class="usr-name"><a href="profile.html">Tran Thi E</a></h4>
                                        <p class="mentor-type">Lĩnh vực hình sự</p>
                                        <div class="rating">
                                            <i class="fas fa-star filled"></i>
                                            <i class="fas fa-star filled"></i>
                                            <i class="fas fa-star filled"></i>
                                            <i class="fas fa-star filled"></i>
                                            <i class="fas fa-star"></i>
                                            <span class="d-inline-block average-rating">(52)</span>
                                        </div>
                                        <div class="mentor-details">
                                            <p class="user-location"><i class="fas fa-map-marker-alt"></i> Hòa Vang, Đà Nẵng</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="user-info-right">
                                    <div class="user-infos">
                                        <ul>
                                            <li><i class="far fa-comment"></i> 52 Đánh giá</li>
                                            <li><i class="fas fa-map-marker-alt"></i> Hòa Vang, Đà Nẵng</li>
                                            <li><i class="far fa-money-bill-alt"></i> $XX - $XX <i class="fas fa-info-circle" data-toggle="tooltip" title="Lorem Ipsum"></i></li>
                                        </ul>
                                    </div>
                                    <div class="mentor-booking">
                                        <a class="apt-btn" href="booking.html">Đặt lịch hẹn</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Mentor Widget -->

                    <div class="load-more text-center">
                        <a class="btn btn-primary btn-sm" href="javascript:void(0);">Xem thêm</a>	
                    </div>	
                </div>
            </div>
        </div>
        
    </section>
<!--end code-->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <%- include('partials/footer.ejs'); -%>
  <!-- End Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="/client/assets/vendor/jquery/jquery.min.js"></script>
  <script src="/client/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/client/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="/client/assets/vendor/php-email-form/validate.js"></script>
  <script src="/client/assets/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="/client/assets/vendor/counterup/counterup.min.js"></script>
  <script src="/client/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/client/assets/vendor/venobox/venobox.min.js"></script>
  <script src="/client/assets/vendor/owl.carousel/owl.carousel.min.js"></script>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/granim/2.0.0/granim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

  <!-- Template Main JS File -->
  
  <script src="/client/assets/js/main.js"></script>
  <script src="/client/assets/js/lawyer.js"></script>

</body>

</html>