<section id="breadcrumb">
    <div class="container">
        <ol class="breadcrumb">
            <% var active_dashboard = typeof is_dashboard == 'undefined' ? false : is_dashboard; %>
            <% if(!active_dashboard) { %>
                    <li><a href="/admin">Dashboard</a></li>
                <% if(edit_flag) { %>
                    <li><a href="/admin/<%= site_name.toLowerCase(); %>"><%= site_name; %></a></li>
                    <li class="active">Edit <%= site_name.substring(0, site_name.length - 1); %></li>
                <% } else {%>
                    <li class="active"><%= site_name; %></li>
                <% }%>
            <% } else {%>
                <li class="active">Dashboard</li>
            <% }%>
        </ol>
    </div>
</section>